@mixin styleText($fs, $fw, $color, $lh) {
    font-size: $fs;
    font-weight: $fw;
    color: $color  !important;
    line-height: $lh;
}

@mixin hover1 ($color, $bs) {
    color: $color  !important;
    box-shadow: $bs;
}

@mixin row($jc, $ai) {
    justify-content: $jc;
    align-items: $ai;
}

@mixin imgFull {
    max-width: 100%;
    height: auto;
}