.reason {

    // background-image: url("../.././images/yellow_top_wave_01.png");
    // height: 600px;
    // background-position: top;
    // background-repeat: no-repeat;
    .imgBG {
        img {
            @include imgFull
        }
    }

    .pd-wrap {
        padding: 60px 0;
    }

    .row {
        @include row($jc-1, $ai-1)
    }

    .textWrap1 {
        p {
            color: $color-pink-1;
            margin-bottom: $mg-6;
        }

        h1 {
            @include styleText($fs-9, $fw-7, $color-dark-0, $lh-1);
        }
    }

    .imgWrap1 {
        padding: 0 20px;
    }
}